html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
body button {
  border: none;
}

.menu {
  height: 471px;
  width: 460px;
  background-color: #1A2A33;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__box-icons {
  margin-bottom: 40px;
}
.menu__box-btn {
  height: 205px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  background: #1F3641;
  box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
}

.box-icons {
  height: 32px;
  width: 72px;
}
.box-icons img {
  width: 32px;
}

.box-btn__character-selection {
  width: 421px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A2A33;
  border-radius: 10px;
  margin-bottom: 17px;
}
.box-btn__titleh1 {
  margin-bottom: 33px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBE8ED;
  margin-top: 0px;
}
.box-btn__titleh2 {
  height: 18px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #A8BFC9;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 0px;
}

.btn-character__x {
  width: 198px;
  height: 54px;
  border-radius: 10px;
  background-color: #1A2A33;
  color: #fff;
}

.btn-character_active {
  background-color: #A8BFC9;
}

.board {
  height: 623px;
  width: 460px;
  background-color: #1A2A33;
}
.board__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: center;
}
.board__box-item {
  display: flex;
  flex-flow: row wrap;
}
.board__foter {
  display: flex;
  flex-direction: row;
}
.board__item {
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  background: #1F3641;
  box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 37px 0 0 37px;
}
.board__item_margin {
  margin-right: 0px;
}
.board__item:hover {
  cursor: pointer;
}

.foter__item {
  width: 140px;
  height: 72px;
  border-radius: 15px;
  background-color: #979797;
  margin-right: 20px;
}
.foter__item_right {
  margin-right: 0px;
  background-color: #F2B137;
}
.foter__item_left {
  background-color: #31C3BD;
}

.header {
  display: flex;
}
.header__box-icon {
  align-content: center;
}
.header__box-icon img {
  width: 30.49px;
  height: 30.49px;
}
.header__queue {
  width: 140px;
  height: 52px;
  background: #1F3641;
  box-shadow: inset 0px -4px 0px #10212A;
  border-radius: 10px;
  color: #fff;
}
.header__btn-restart {
  width: 52px;
  height: 52px;
  background: #A8BFC9;
  box-shadow: inset 0px -4px 0px #6B8997;
  border-radius: 10px;
}

.block-won {
  position: absolute;
  left: 0px;
  top: 40vh;
  background-color: #9df9b6;
  width: 100%;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-won_inactive {
  display: none;
}
.block-won__info {
  margin-bottom: 16px;
  color: #A8BFC9;
}
.block-won__box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.block-won__box-title img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}
.block-won__box-title h3 {
  margin: 0px;
  height: 50px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2.5px;
  color: #31C3BD;
}
.block-won__box-btn {
  display: flex;
  flex-direction: row;
}
.block-won__box-btn button {
  height: 52px;
  border-radius: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.block-won__btn-quit {
  width: 76px;
  margin-right: 16px;
  background: #A8BFC9;
  box-shadow: inset 0px -4px 0px #6B8997;
}
.block-won__btn-quit:hover {
  background: #DBE8ED;
  cursor: pointer;
}
.block-won__btn-next-round {
  width: 148px;
  background: #F2B137;
  box-shadow: inset 0px -4px 0px #CC8B13;
}
.block-won__btn-next-round:hover {
  background: #FFC860;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */