
w
$color-blue-inactive:#31C3BD
$color-blue-active:#65E9E4
$color-orange-inactive:#F2B137
$color-orange-active:#FFC860
$color-background:#1A2A33
$color-element: #1F3641
$color-grey-low:#A8BFC9
$color-grey-bright:#DBE8ED

html
    box-sizing: border-box

body
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    button
        border: none

.menu
    height: 471px
    width: 460px
    background-color: $color-background
    display: flex
    flex-direction: column
    align-items: center
    &__box-icons
        margin-bottom: 40px
    &__box-btn
        height: 205px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 24px
        background: $color-element
        box-shadow: inset 0px -8px 0px #10212A
        border-radius: 15px

.box-icons
    height: 32px
    width: 72px
    img
        width: 32px

.box-btn
    &__character-selection
        width: 421px
        height: 72px
        display: flex
        justify-content: center
        align-items: center
        background-color: $color-background 
        border-radius: 10px
        margin-bottom: 17px

    &__titleh1
        margin-bottom: 33px
        font-family: 'Outfit'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: $color-grey-bright
        margin-top: 0px
    &__titleh2
        height: 18px
        font-family: 'Outfit'
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        text-align: center
        letter-spacing: 0.875px
        color:$color-grey-low
        mix-blend-mode: normal
        opacity: 0.5
        margin-top: 0px

.btn-character
    &__x
        width: 198px
        height: 54px
        border-radius: 10px
        background-color: $color-background
        color: #fff
.btn-character_active
    background-color: $color-grey-low

.board
    height: 623px
    width: 460px
    background-color:#1A2A33
    &__header
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 18px
        align-items: center
    &__box-item
        display: flex
        flex-flow: row wrap
    &__foter
        display: flex
        flex-direction: row

    &__item
        box-sizing: border-box
        width: 140px
        height: 140px
        background: #1F3641
        box-shadow: inset 0px -8px 0px #10212A
        border-radius: 15px
        margin-right: 20px
        margin-bottom: 20px
        padding: 37px 0 0 37px
        &_margin
            margin-right: 0px
        &:hover
            cursor: pointer

.foter
    &__item
        width: 140px
        height: 72px
        border-radius: 15px
        background-color: #979797
        margin-right: 20px
        &_right
            margin-right: 0px
            background-color: #F2B137
        &_left
            background-color: #31C3BD

.header
    display: flex
    &__box-icon
        align-content: center
        img
            width: 30.49px
            height: 30.49px
    &__queue
        width: 140px
        height: 52px
        background: #1F3641
        box-shadow: inset 0px -4px 0px #10212A
        border-radius: 10px
        color: #fff
    &__btn-restart
        width: 52px
        height: 52px            
        background: #A8BFC9
        box-shadow: inset 0px -4px 0px #6B8997
        border-radius: 10px

.block-won
    position: absolute
    left: 0px
    top: 40vh
    background-color:  #9df9b6
    width: 100%
    height: 266px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &_inactive
        display: none
    &__info
        margin-bottom: 16px
        color: $color-grey-low
    &__box-title
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 24px
        img
            width: 64px
            height: 64px
            margin-right: 24px
        h3
            margin: 0px
            height: 50px
            font-family: 'Outfit'
            font-style: normal
            font-weight: 700
            font-size: 40px
            line-height: 50px
            letter-spacing: 2.5px
            color: $color-blue-inactive
    &__box-btn
        display: flex
        flex-direction: row
        button
            height: 52px
            border-radius: 10px
            font-family: 'Outfit'
            font-style: normal
            font-weight: 700
            font-size: 16px
            line-height: 20px
            text-align: center
            letter-spacing: 1px
    &__btn-quit
        width: 76px
        margin-right: 16px
        background: $color-grey-low
        box-shadow: inset 0px -4px 0px #6B8997
        &:hover
            background: $color-grey-bright
            cursor: pointer
    &__btn-next-round
        width: 148px
        background: $color-orange-inactive
        box-shadow: inset 0px -4px 0px #CC8B13
        &:hover
            background: $color-orange-active
            cursor: pointer
            

      